.card.custom {
  display: inline-block;

  a {
    text-align: center;
  }

  .bg {
    @include theme($themes) {
      background: t('uks');
    }
  }

  .icon-text {
    justify-content: center;
  }
}

footer {
  .card.custom {
    width: unset;
    height: 100%;
    @include theme($themes) {
      background: t('uks');
    }
  }
}
