body.template-zipextract .zipextract {
  margin-left: 0;
}

body.template-zipextract .zipextract li {
  list-style-type: none;
}

body.template-zipextract .zipextract label[for=select_all] {
  font-weight: normal;
}
