@include portal-type-font-awesome-icon(ftw-sliderblock-sliderblock, forward);

.ftw-sliderblock-sliderblock .actions {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: $font-size-large;
  line-height: $font-size-large;
  .action {
    @extend .fa-icon;
    &:before {
      background-color: rgba(255, 255, 255, .75);
      @include auto-text-color(#FFF);
      @include borderradius(5px);
      @include boxshadow(0px 0px 10px 0px rgba(255,255,255,1));
      margin: 0.25em;
    }
    &:hover:before {
      background-color: rgba(230, 230, 230, .75);
      @include auto-text-color(#FEE);
    }
    &.inneredit {
      @extend .fa-edit;
    }
    &.crop-image {
      @extend .fa-crop;
    }
  }
}

.slick-dots > li {
  > button {
    width: 1em;
    overflow: hidden;
  }
}
