#menuBtn, #menuBtn ul
{
    list-style: none;
    margin: 0;
    padding: 0;           
}
#menuBtn li
{
    z-index: 100;
    float: left;
    position: relative;
    background-color: black;
    white-space: nowrap;    
}
#menuBtn ul        
{
    display: none;
    position: absolute;
    padding-bottom: 15px;
    background: black;
}
#menuBtn ul li
{
    float: none;
    margin-top: 55px;
    padding: 0;
    line-height: 30px;
}
#menuBtn a:link, #menuBtn a:visited
{
    font-size: 20px;
    display: block;
    color: white;
    border: 1px, white
}
#menuBtn li:hover,  #menuBtn a:hover   
{
    color: orange;
}
#menuBtn li:hover ul       
{
    display: block;
}